# APPLICATION
PUBLIC_SITE_URL="https://example.com"
PUBLIC_APP_ENV="development"

# API
PUBLIC_API_BASE_URL="http://localhost:8000"

# TURNSTILE
PUBLIC_TURNSTILE_SITE_KEY="replace-with-public-turnstile-site-key"

# POSTHOG
PUBLIC_POSTHOG_KEY="phc_replace-with-public-project-key"
