# APPLICATION
VITE_APP_NAME="TRIAD Studio"
VITE_DEPLOY_TARGET=local

# AUTHENTICATION
VITE_AUTH_BASE_URL=http://localhost:8000/api/auth

# POSTHOG
VITE_POSTHOG_KEY=""
VITE_POSTHOG_HOST=http://localhost:8000/e
VITE_POSTHOG_REPLAY_SAMPLE_RATE=0.1
VITE_RELEASE=development

# LOCAL DATA SOURCES
VITE_BARBERSHOP_SETUP_SOURCE=http
VITE_CLIENT_MANAGEMENT_SOURCE=http
VITE_SCHEDULING_SOURCE=http
VITE_SERVICE_DESK_SOURCE=http
VITE_REVENUE_OPERATIONS_SOURCE=http
VITE_REPORTING_SOURCE=http
