# APPLICATION
VITE_APP_NAME="TRIAD Studio"
VITE_DEPLOY_TARGET=local

# AUTHENTICATION
VITE_AUTH_BASE_URL=http://localhost:8000/api/auth

# LOCAL DATA SOURCES
VITE_BARBERSHOP_SETUP_SOURCE=memory
VITE_CLIENT_MANAGEMENT_SOURCE=http
VITE_SCHEDULING_SOURCE=memory
